  
 
div{
    height: 400px;
    width: 400px; ;
    text-align: center;
    background-color:#FFA500;
    border: 2px solid black;
    position: relative; margin: auto; margin-left: 500px;  float:left;

}